.index-about {
    padding: 100px;
    text-align: center;
    background-color: #f6f6f6;
    h2, p, button {
        margin: 15px 0;
    }
}
// index-post start

.index-post {
    background-color: #f6f6f6;
}

.index-post button, 
.index-about button {
    background-color: #e4a436;
    width: 200px;
    height: 50px;
    border: none;
}

.about-flex {
    display: flex;
}

.about-image {
    
    margin: 50px;
    align-self: center;
    img {
        display: block;
        float: left;
        box-shadow:  20px 20px #709b6b;
    }
    
}

.content-container {
    width: 60%;
    padding: 100px;
    h2 {
        padding: 20px 0;
    }
}

.content-container p {
    padding: 20px 0;
}

// end of index-post