// blog.html styling
.container-parent {
    display: flex;
    background-color: #f6f6f6;
}

.left-container {
    width: 30%;
    margin-right: 25px;
}

.right-container {
    width: 70%;
    margin-bottom: 35px;
    margin-left: 25px;
}

// left container styling and border

.blog-about, 
.blog-post {
    background-color: white;
    padding: 35px;
    margin-top: 35px;

}

.blog-about img {
    width: 100%;
}

// right container styling and border

.blog-newest-post, 
.blog-first-comment,
.blog-second-comment {
    background-color: white;
    margin-top: 35px;
}

.blog-newest-post, 
.blog-second-comment {
    border-top: 0px;
    border-bottom: 5px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #709b6b;
}

.blog-first-comment, 
.blog-second-comment {
    display: flex;
    padding: 35px;
    img {
        display: block;
        height: 100%;
        padding-right: 25px;
    }
}

.blog-newest-post {
    padding: 35px;
    h2, 
    p {
        padding: 25px;
    }
}

// messageBox styling

form {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  
}

.user-inputs {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    
}


.user-input-1, 
.user-input-2 {
    width: calc((100% / 2) - 7.5px);
}

.user-input-1 {
    margin-right: 10px;
}

.user-input-1, 
.user-input-2 {
    input {
        padding: 0px;
    }
}

input {
    width: 100%;
    height: 50px;
    
}

.user-input-1 label, 
.user-input-2 label, 
label {
    display: block;
    padding-bottom: 10px;
}

textarea {
    padding-top: 20px;
}

.post-comment-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #e4a436;
    border-style: none;
}