// contact.html styling

.contact-card {
    background-color: white;
    margin: 50px;
    padding: 20px 0;
}

.contact-card ul {
    list-style: none;
    display: flex;
    li {
        padding-right: 20px;
        font-size: 35px;
    }

}

.contact-address {
    padding-left: 25px;
}

// contact-container-parent styling


.contact-container-parent {
    display: flex;
}

.contact-left-container {
    width: 30%;
}

.contact-right-container {
    width: 70%;
}