// index-contact styling

.index-contact {
    padding: 35px 0;
    background-color: #f6f6f6;
    display: flex;
}

.top-contact-card, 
.bottom-contact-card {
    display: flex;
    .cards {
        width: 50%;
        padding: 15px;
    }
    h3, 
    p {
        margin: 10px;
    }
}


// contact.html styling

.contact-card {
    background-color: white;
    margin: 50px;
    padding: 20px 0;
}

.contact-card ul {
    list-style: none;
    display: flex;
    li {
        padding-right: 20px;
        font-size: 35px;
    }

}

.contact-address {
    padding-left: 25px;
}

// contact-container-parent styling


.contact-container-parent {
    display: flex;
}

.contact-left-container {
    width: 30%;
}

.contact-right-container {
    width: 70%;
}