@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');

h1, 
h2, 
h3, 
h4, 
button {
    font-family: 'Abril Fatface', cursive;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button {
    color: black;
}

p, 
a {
    font-family: 'Montserrat', sans-serif;
}

