@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');

h1, 
h2, 
h3, 
h4, 
button {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
}


p, 
a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 80px;
    line-height: 92px;
}

.index-title h1 {
    font-size: 92px;
    font-weight: 100;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

h1, 
a,
header nav h2 {
    color: white;
}