main {
    background-color: #f6f6f6;
    min-height: 45vh;
}

.wrapper {
    margin: 0 auto;
    width: 85%;
}

// flexParent section in index.html styling

.flex-parent {
    padding: 40px 0;
}

.flex-child {
    display: flex;
}

.flex-child img {
    width: 50%;
}

.word-container {
    width: 50%;
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.word-container p {
    color: black;
}

.word-container span {
    display: block;
}

.word-container button {
    background-color: #e4a436;
    width: 200px;
    height: 50px;
    border: none;
}
