// start of general styling

header {
    background-color: #345231;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding-left: 0px;
}

.menu-item a:hover {
    color: #e6cfa8;
}

.menu-item-active a {
    color: #e4a436;
}

// .hamburger-menu-nav,

.hamburger-menu-nav {
    display: none;
}

.hamburger-menu i {
    color: white;
    font-size: 25px;
    display: none;
}

.hamburger-menu-item:hover {
    background-color: #1e301e;
}

.hamburger-menu-item a:hover {
    color: #e6cfa8;
}

.hamburger-menu-item-active a {
    color: #e4a436;
}

// end of general styling

// start index-header styling

.index-header {
    height: 75vh;
}

header nav li {
    margin: 0 20px;
    padding: 20px 0;
}

.index-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

// .index-title h1::before {
//     content: url(../assets/circle-text.png);
//     position: relative;
//     z-index: 10;
// }

.index-title img {
    display: block;
    float: left;
    box-shadow: 20px 20px white;
}

// end of index-header styling

// start of blog-header styling

.blog-header-title {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    height: 400px;
    position: relative;
    h1 {
        position: absolute;
        bottom: -15px;
    }
}

// end of blog-header styling

// start of contact-header styling

.contact-header-title {
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    height: 400px;
    position: relative;
    h1 {
        position: absolute;
        bottom: -15px;
    }
}

// end of contact-header styling
