/* ==== media queries ==== */

@media (max-width: 1200px) {

    .about-img {
        padding: 0;
        width: 80%;
        max-width: 350px;
        align-self: center;
    }
  
    .flex-child img {
        max-width: 650px;
    }
  
    .word-container {
        padding: 35px;
    }

    .top-contact-card, 
    .bottom-contact-card {
        .cards {
            padding: 0px;
        }
    }
  
}

@media (max-width: 992px) {

    //   i.fa-bars {
    //         visibility: visible;
    //         font-size: 35px;
    //     }

    img {
        width: 100%;
    }
  
    button {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
  
    h1 {
        display: flex;
        text-align: center;
    }


// index media

    .index-header {
    height: 60vh;
    min-height: 500px;
    }

    .index-about {
        padding-top: 175px;
        h2 {
        padding-top: 25px;
        }
    }



// blog section in index


    .index-blog {
        margin-top: 50px;
    }

    .flex-child img {
        width: 100%;
    }


// about section in index


    .about-flex {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .about-image {
        padding: 0;
        width: 80%;
        max-width: 350px;
        justify-content: center;
        margin-top: 20px
    }

    .content-container {
        width: 80%;
        text-align: center;
        padding-top: 20px;
    }
  
// blog media 

    .container-parent {
        flex-direction: column;
    }

    .left-container {
        width: 100%;
        margin-right: 0px;
    }

    .right-container {
        width: 100%;
        margin-left: 0px;
    }

// contact media 

    .contact-left-container,
    .contact-right-container {
        width: 100%;
    }

    .contact-container-parent {
        flex-direction: column;
        align-items: center;
    }

    .contact-left-container {
        justify-content: center;
        display: flex;
    }

    .contact-card {
        width: 80%;
        text-align: center;
    }

    .contact-card ul {
        justify-content: center;
    }

    .post-comment-button {
        margin: 10px 0;
    }
  
  
    .flex-child {
        flex-direction: column;
        align-items: center;
    }
  
    .flex-child:nth-of-type(2) {
        flex-direction: column-reverse;
        margin-top: 20px;
    }
  
    .word-container {
        width: 80%;
        margin: 20px auto;
    }

    .word-container button {
        display: flex;
        align-self: flex-end;
        margin-top: 25px;
    }
  

}

@media (max-width: 768px) {

    nav ul li {
        a {
        display: none;
        }
        h2 {
          align-self: flex-start;
          margin: 0px;
        }
    }

    .collapsed-menu {
        float: right;
        display: block;
    }

        img {
        width: 100%;
    }

    .index-title {
        flex-direction: column;
        img {
        // margin-top: 50px;
        max-width: 350px;
        }
    }

    .index-about {
        h2 {
            padding-top: 0px;
        }
    }

    .gallery-container {
        flex-direction: column;
        justify-content: center;
        img {
            width: 100%;
            margin: 10px 0px;
        }
    }

    .top-contact-card, 
    .bottom-contact-card {
        flex-direction: column;
        .cards {
        width: 100%;
    }

    .user-inputs {
        flex-direction: column;
    }

    .user-input-1, 
    .user-input-2 {
        width: 100%;
        margin: 10px 0;
    }

    .contact-message-box form {
        padding-top: 0px;
    }
  
}

}

@media (max-width: 480px) {

    h1 {
        font-size: 60px;
    }
  
  
}  