@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

header {
  background-color: #345231;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0 auto;
}

.index-header {
  height: 75vh;
}

header nav li {
  margin: 0 20px;
  padding: 20px 0;
}

.index-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-header-title {
  background-image: url(../assets/blog-image-1.jpg);
  height: 400px;
  position: relative;
}
.blog-header-title h1 {
  position: absolute;
  bottom: 0px;
}

.contact-header-title {
  background-image: url(../assets/contact-image-1.jpg);
  height: 400px;
  position: relative;
}
.contact-header-title h1 {
  position: absolute;
  bottom: 0px;
}

h1,
h2,
h3,
h4,
button {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 80px;
  line-height: 92px;
}

h1,
a,
header nav h2 {
  color: white;
}

.index-title h1 {
  font-size: 92px;
  font-weight: 100;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.index-about {
  padding: 100px auto;
  text-align: center;
  background-color: #f6f6f6;
}
.index-about h2, .index-about p, .index-about button {
  margin: 15px 0;
}

.index-post {
  background-color: #f6f6f6;
}

.index-post button,
.index-about button {
  background-color: #e4a436;
  width: 200px;
  height: 50px;
  border: none;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutImg {
  width: calc(40% - 40px);
  margin-right: 40px;
  padding: 50px;
}

.contentContainer {
  width: 60%;
  padding: 100px;
}
.contentContainer h2 {
  padding: 20px 0;
}

.contentContainer p {
  padding: 20px 0;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}

.gallery img {
  width: 100%;
}

.galleryContainer img {
  width: calc(100% / 3 - 50px);
  margin: 15px;
}

.flexParent {
  padding: 40px 0;
}

.flexChild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexChild img {
  width: 50%;
}

.wordContainer {
  width: 50%;
  padding: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wordContainer p {
  color: black;
}

.wordContainer button {
  background-color: #e4a436;
  width: 200px;
  height: 50px;
  border: none;
}

.container-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-container {
  width: 40%;
}

.right-container {
  width: 60%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.index-contact {
  padding: 35px 0;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-contact-card,
.bottom-contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-contact-card .cards,
.bottom-contact-card .cards {
  width: 50%;
  padding: 15px;
}
.top-contact-card h3,
.top-contact-card p,
.bottom-contact-card h3,
.bottom-contact-card p {
  margin: 10px;
}

.contact-container-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-left-container {
  width: 40%;
}

.contact-right-container {
  width: 60%;
}