@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

header {
  background-color: #345231;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0 auto;
}

.index-header {
  height: 75vh;
}

header nav li {
  margin: 0 20px;
  padding: 20px 0;
}

.index-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-header-title {
  background-image: url(../assets/blog-image-1.jpg);
  height: 400px;
  position: relative;
}
.blog-header-title h1 {
  position: absolute;
  bottom: -15px;
}

.contact-header-title {
  background-image: url(../assets/contact-image-1.jpg);
  height: 400px;
  position: relative;
}
.contact-header-title h1 {
  position: absolute;
  bottom: -15px;
}

h1,
h2,
h3,
h4,
button {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 80px;
  line-height: 92px;
}

h1,
a,
header nav h2 {
  color: white;
}

.index-title h1 {
  font-size: 92px;
  font-weight: 100;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.index-about {
  padding: 100px auto;
  text-align: center;
  background-color: #f6f6f6;
}
.index-about h2, .index-about p, .index-about button {
  margin: 15px 0;
}

.index-post {
  background-color: #f6f6f6;
}

.index-post button,
.index-about button {
  background-color: #e4a436;
  width: 200px;
  height: 50px;
  border: none;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutImg {
  width: calc(40% - 40px);
  margin-right: 40px;
  padding: 50px;
  -ms-flex-item-align: center;
      align-self: center;
}

.contentContainer {
  width: 60%;
  padding: 100px;
}
.contentContainer h2 {
  padding: 20px 0;
}

.contentContainer p {
  padding: 20px 0;
}

main {
  background-color: #f6f6f6;
  min-height: 45vh;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
}

.flexParent {
  padding: 40px 0;
}

.flexChild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexChild img {
  width: 50%;
}

.wordContainer {
  width: 50%;
  padding: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wordContainer p {
  color: black;
}

.wordContainer span {
  display: block;
}

.wordContainer button {
  background-color: #e4a436;
  width: 200px;
  height: 50px;
  border: none;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}

.gallery img {
  width: 100%;
}

.galleryContainer img {
  width: calc(100% / 3 - 50px);
  margin: 15px;
}

.container-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
}

.left-container {
  width: 30%;
  margin-right: 15px;
}

.right-container {
  width: 70%;
  margin-bottom: 35px;
  margin-left: 15px;
}

.blog-about,
.blog-post {
  background-color: white;
  padding: 35px;
  margin-top: 35px;
}

.blog-about img {
  width: 100%;
}

.blog-newest-post,
.blog-first-comment,
.blog-second-comment {
  background-color: white;
  margin-top: 35px;
}

.blog-newest-post,
.blog-second-comment {
  border-top: 0px;
  border-bottom: 5px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #709b6b;
}

.blog-first-comment,
.blog-second-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px;
}
.blog-first-comment img,
.blog-second-comment img {
  display: block;
  height: 100%;
  padding-right: 25px;
}

.blog-newest-post {
  padding: 35px;
}
.blog-newest-post h2,
.blog-newest-post p {
  padding: 25px;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.userInputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.userInput1,
.userInput2 {
  width: calc((100% / 2) - 7.5px);
}

.userInput1 {
  margin-right: 10px;
}

.userInput1 input,
.userInput2 input {
  padding: 0px;
}

input {
  width: 100%;
  height: 50px;
}

.userInput1 label,
.userInput2 label,
label {
  display: block;
  padding-bottom: 10px;
}

textarea {
  padding-top: 20px;
}

.post-comment-button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #e4a436;
  border-style: none;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.index-contact {
  padding: 35px 0;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-contact-card,
.bottom-contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-contact-card .cards,
.bottom-contact-card .cards {
  width: 50%;
  padding: 15px;
}
.top-contact-card h3,
.top-contact-card p,
.bottom-contact-card h3,
.bottom-contact-card p {
  margin: 10px;
}

.contact-card {
  background-color: white;
  margin: 50px;
}

.contact-card ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.contact-card ul li {
  font-size: 25px;
  letter-spacing: 15px;
  color: #345231;
}

.contact-media-icons,
.contact-address {
  padding: 10px 25px;
}

.contact-container-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-left-container {
  width: 30%;
}

.contact-right-container {
  width: 70%;
}

/* ==== media queries ==== */
@media (max-width: 992px) {
  img {
    width: 100%;
  }

  button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }

  .container-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .left-container {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }

  .contact-left-container,
.contact-right-container {
    width: 100%;
  }

  .contact-container-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact-left-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .contact-card {
    width: 80%;
    text-align: center;
  }

  .contact-card ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  nav ul li a {
    visibility: hidden;
  }
  nav ul li h2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 60px;
  }
}